<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr. Planner</title>
</head>
<body>
    <h1>Hey! I am Mr. T. Panner</h1>
    <p>Do you wanna plan your trip?? Fill the below form and get you plan ready!!</p>
    <form action="/api" method="post">
        <label>Give the city name where you want to go and the number of days you wana stay?</label>
        <input placeholder="Place" type="text" name="Place">
        
        <input placeholder="Number of days" type="number" name="Days">
        <button type="submit">Submit</button>
    </form>
  
    

</body>
</html>